html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
	width: 95%;
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(205,81,81,0.8);
}

main {
	background-color: rgba(128,128,128,0.4);
	border: 2px double black;
	font-size: 1.3em;
	width: 95%;
	margin-bottom: 10px;
}

#description {
	font-style: italic;
	text-align: center;
}

.contact-info {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 0.25fr 0.7fr;
	grid-row-gap: 5px;
	margin: 10px;
}

.contact-info label {
	justify-self: center;
}

.contact-info input,
#dropdown,
.comments,
#submit {
	border-style: groove;
	border-radius: 10px;
}

.fav-lang {
	margin: 20px 10px 20px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#dropdown {
	width: 120px;
	height: 45px;
	margin: 0 0 0 10px;
	font-size: 0.9em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.hours-code {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 0.55fr 0.4fr;
	grid-template-areas: 
	"text option-one"
	"text option-two"
	"text option-three";
	justify-items: start;
	margin: 15px 10px 5px;
}

.text {
	grid-area: text;

}
 #hours-one,
 .one {
 	grid-area: option-one;
 }
  #hours-two,
  .two {
 	grid-area: option-two;
 }

 #hours-three,
 .three {
 	grid-area: option-three;
 }

 .one,
 .two,
 .three {
 	display: flex;
 	flex-direction: row-reverse;
 	align-items: center;

 }

 .frameworks-used {
 	display: flex;
 	margin: 10px 10px;
 }

 .frameworks-used p {
 	width: 100%;
 }

.frameworks {
	list-style: none;
	width: 100%;
	padding-left: 20px;
}

.comments {
	margin: 5px;
	width: 95%;
}

#submit {
	height: 42px;
	font-size: 0.9em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	float: right;
	margin: 0px 5px 5px 5px;
}

footer {
	width: 95%;
	text-align: right;
}
.linkedIn_logo {
    height: 20px;
}