html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


header {
	width: 95%;
	text-align: center;
	padding: 0 2px;
}


main {
	background-color: rgba(128,128,128,0.4);
	border: 2px double black;
	font-size: 1.3em;
	width: 95%;
	margin-bottom: 10px;
}


footer {
	width: 95%;
	text-align: right;
	padding: 0 2px;
}

/* -------------------------------------------------------------- */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(205,81,81,0.8);
}


#description {
	font-style: italic;
	text-align: center;
}

/* -------------------------------------------------------------- */
.contact-info {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: fit-content(30px) auto;
	grid-row-gap: 5px;
	margin: 10px;
}


.contact-info label {
	justify-self: left;
	margin-right: 10px;
}


.contact-info input,
#dropdown,
.comments,
#submit {
	border-style: groove;
	border-radius: 10px;
}

/* -------------------------------------------------------------- */
.fav-lang {
	margin: 20px 10px 20px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;
}


.fav-lang label {
	margin-right: 10px;
}


#dropdown {
	width: 120px;
	min-height: 45px;
	margin: 0 0 0 5px;
	font-size: 0.9em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* -------------------------------------------------------------- */
.hours-code {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 0.6fr auto;
	grid-template-areas: 
	"text option-one"
	"text option-two"
	"text option-three";
	justify-items: start;
	margin: 15px 10px 5px;
}


.text {
	grid-area: text;
	justify-self: left;
}


 #hours-one,
 .one {
 	grid-area: option-one;
 }


 #hours-two,
 .two {
 	grid-area: option-two;
 }


 #hours-three,
 .three {
 	grid-area: option-three;
 }


 .one,
 .two,
 .three {
 	display: flex;
 	flex-direction: row-reverse;
 	align-items: center;
 }

/* -------------------------------------------------------------- */
 .frameworks-used {
 	display: flex;
 	margin: 10px 10px;
 }


 .frameworks-used p {
 	max-width: 40%;
 	text-align: left;
 	margin-right: 10px;
 }


.frameworks {
	list-style: none;
	max-width: 60%;
	padding-left: 5px;
}

/* -------------------------------------------------------------- */
.comments {
	margin: 5px;
	width: 95%;
}


#submit {
	height: 42px;
	font-size: 0.9em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	float: right;
	margin: 0px 5px 5px 5px;
}

/* -------------------------------------------------------------- */
.linkedIn_logo {
    height: 20px;
}

/* -------------------------------------------------------------- */
@media (min-width: 438px) {
	.hours-code {
		grid-template-columns: minmax(150px, 225px) auto;
	}


	.frameworks-used p {
	 	max-width: 60%;
	 }


	.frameworks {
		max-width: 40%;
	}
}


@media (min-width: 560px) {
	#survey-form {
		padding: 5%;
	}


	.linkedIn_logo {
		height: 25px;
	}


	.comments {
		width: 100%;
	}
}


@media (min-width: 750px) {
	html,
	body {
		max-width: 751px;
		margin: auto;
	}
}